.contacts-container {
  padding: 20px;
  max-width: 1000px; /* Limita a largura da tabela */
  margin: auto; /* Centraliza o container */
  background-color: #f9f9f9; /* Cor de fundo clara */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efeito de profundidade */
}

.contacts-title {
  font-size: 2em; /* Aumenta o tamanho da fonte do título */
  text-align: center; /* Centraliza o título */
  color: #333; /* Cor do texto */
  margin-bottom: 20px; /* Espaço abaixo do título */
}

.contacts-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1em; /* Aumenta o tamanho da fonte da tabela */
}

.contacts-table th,
.contacts-table td {
  border: 1px solid #ddd;
  padding: 12px; /* Aumenta o preenchimento das células */
  text-align: left;
}

.contacts-table th {
  background-color: #007bff; /* Cor de fundo azul para cabeçalho */
  color: white; /* Texto branco */
}

.contacts-table tr:hover {
  background-color: #e6f7ff; /* Cor de destaque ao passar o mouse */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.contacts-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Cor de fundo para linhas pares */
}

.contacts-table tr:nth-child(odd) {
  background-color: #ffffff; /* Cor de fundo para linhas ímpares */
}

.contacts-table td {
  color: #555; /* Cor do texto */
}
